.dashboard-button-style {
    list-style: none; 
     text-decoration: none;
    color: #0f8c9c; 
     /* margin-top: 25px;  */
     font-weight: 700; 
}
.btn-design-log {
    background-color: black;
}